* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    /* gray */
    --gray-50: #eeeeee;
    --gray-100: #cccccc;
    --gray-200: #aaaaaa;
    --gray-300: #888888;
    --gray-400: #777777;
    --gray-500: #666666;
    --gray-600: #555555;
    --gray-700: #444444;
    --gray-800: #333333;
    --gray-900: #222222;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
    background: rgb(241, 236, 236);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    position: relative;
    /* background: url("../RES/back.jpg") center/cover no-repeat; */
}

p {
    padding: 0 3rem;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

a {
    text-decoration: none;
}


/* Whole content - start*/

div.content {
    margin: 1rem auto;
    height: 95vh;
    width: 30rem;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid var(--gray-100);
    border-radius: 10px;
    background: white;
    /* box-shadow: var(--shadow-4); */
}


/* Whole content - end*/


/* Logo - start*/

div.logo {
    display: flex;
    background-color: var(--gray-900);
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 0 auto 1rem;
    color: white;
}

div.logo i {
    padding-left: 2rem;
}

div.logo p {
    padding-left: 5px;
}


/* Logo - end*/


/* header - start */

p.header {
    font-size: 25px;
}


/* header - end */


/* form - start */

div.registration-number,
div.name,
div.login,
div.key,
div.password,
div.confirm-password,
div.first-name,
div.sex,
div.option-code {
    position: relative;
    margin: 0.3rem 1rem;
}

.input-area {
    outline: none;
    border: 2px solid #dadce0;
    padding: 16px 13px;
    width: 22rem;
    font-size: 18px;
    border-radius: 5px;
}

.input-area:valid+.label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: #8d8d8d;
}

.input-area:focus {
    border: 2px solid rgb(5, 105, 72);
}

.label {
    color: #8d8d8d;
    position: absolute;
    top: 20px;
    left: 13px;
    background: #ffffff;
}

.input-area:focus+.label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: rgb(5, 105, 72);
}

#admin-registration-form,
#student-registration-form,
#admin-login-form,
#student-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 0;
}

div.message-container i {
    color: red;
    font-size: 2rem;
}

div.message-container p.error {
    color: red;
    padding-left: 1rem;
    padding-right: 1rem;
}

.validation {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    width: 23rem;
}

p.footer-1 {
    font-size: 17px;
    padding: 0;
}

p.footer-1 span {
    color: rgb(0, 128, 85);
    font-size: 19px;
}

#submit-button {
    background-color: rgb(5, 105, 72);
    border: 1px solid rgb(5, 105, 72);
    border-radius: 5px;
    width: 6rem;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#submit-button:hover {
    background-color: rgb(5, 77, 53);
}


/* form - end */


/* footer - start */

p.footer-2 {
    margin: 1rem 0;
    font-size: 14px;
    color: var(--gray-400);
}


/* footer - end */


/* Responsive start*/

@media screen and (max-width: 349px) {
    .input-area {
        outline: none;
        border: 2px solid #dadce0;
        padding: 16px 13px;
        width: 13rem;
        font-size: 18px;
        border-radius: 5px;
    }
    .validation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p.footer-2 {
        padding: 0 0.2rem;
        margin: 0.5rem 0;
        font-size: 10px;
        color: var(--gray-400);
    }
}

@media screen and (min-width: 350px) and (max-width: 430px) {
    .input-area {
        outline: none;
        border: 2px solid #dadce0;
        padding: 16px 13px;
        width: 15rem;
        font-size: 18px;
        border-radius: 5px;
    }
    .validation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p.footer-2 {
        padding: 0 0.3rem;
        margin: 0.5rem 0;
        font-size: 12px;
        color: var(--gray-400);
    }
}

@media screen and (min-width: 431px) and (max-width: 500px) {
    .input-area {
        outline: none;
        border: 2px solid #dadce0;
        padding: 16px 13px;
        width: 19rem;
        font-size: 18px;
        border-radius: 5px;
    }
    .validation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p.footer-2 {
        padding: 0 0.3rem;
        margin: 0.5rem 0;
        font-size: 12px;
        color: var(--gray-400);
    }
}


/* Responsive end*/